@charset "UTF-8";
html, body{
    min-height: 100vh;
    font-family:Helvetica;
    font-size: small;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
  
}
header{
    background-color: black;
    border: solid black;
    border-radius: 5px;
    padding-bottom: 5vh;
}
 header > h1{
    font-size: 300%;
    border-radius: 15px;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    position: sticky;
    top: -100px;
}
nav{
    border-radius: 5px;
    text-align: center;
}
a{
    color:white;
    background-color:black;
}
main{
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 5px;
    border: solid black;
    margin-top: 15px;
    position: relative;
}
main > h1{
    font-size: 250%;
    margin-left:5%;
}
h2{
    font-size: 200%;
    margin-left: 5%;
}
 p{
    text-align: justify;
    padding: 15px;
}
hr{
    margin-left: 2%;
    margin-right: 2%;
}
img{
    margin: center;
    width: 300px;
    box-shadow:  5px 5px 5px rgb(0, 0, 0);
    border-radius: 5px;
}
footer{
    margin-top: 10px;
    background-color: black;
    text-align: center;
    color: white;
}
footer > p{
    text-align: center;
}