@charset "UTF-8";
html, body{
    min-height: 100vh;
    font-family:Helvetica;
    font-size: small;
    padding: 5px;
   
  
}
header{
    background-color: black;
    border: solid black;
    border-radius: 5px;
}
 header > h1{
    font-size: 300%;
    border-radius: 5px;
    background-color: white;

    text-align: center;
    margin-left: 1vh;
    margin-right: 1vh;
}
header{
    position: sticky;
    top: -100px;
}
nav{
    border-radius: 5px;
    text-align: center;
}
input{
    border-radius: 30px;
    padding-top: 4px;
    background-color:white;
    margin-left: 2%;
    margin-right: 2%;
    }
main{
    border-radius: 5px;
    border: solid black;
    margin-top: 4%;
    position: relative;
}
p{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3{
     margin-left: 6vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
hr{
    margin-left: 2%;
    margin-right: 2%;
}
footer{
    border-radius: 5px;
    margin-top: 5px;
    background-color: black;
   
    color: white;
}
footer > p{
    text-align: center;
}
